{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="cmsmagazine" content="c6c4de63c6c263ce6ebac3fcd233e146" />
    {% block metatag %}{% endblock %}
	<title>{% block title %}{{ config.SITE_NAME }}{% endblock %}</title>
	{% include "include_css.html" %}

	{% block style %}{% endblock %}
	<script src="{% static 'js/plugins/jquery-2.1.4.min.js' %}"></script>
	<!-- font raleway -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
	
	<!--Favicons-->
	<link rel="apple-touch-icon" sizes="57x57" href="/app/static/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/app/static/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/app/static/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/app/static/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/app/static/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/app/static/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/app/static/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/app/static/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/app/static/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="/app/static/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/app/static/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="/app/static/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="/app/static/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/app/static/favicons/manifest.json">
<link rel="mask-icon" href="/app/static/favicons/safari-pinned-tab.svg" color="#ffa500">
<link rel="shortcut icon" href="/app/static/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/app/static/favicons/mstile-144x144.png">
<meta name="msapplication-config" content="/app/static/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

</head>
<body>
	{% include "include_modal_request.html" %}

	{% block modal %}
	{% include "include_modal_second.html" %}
	{% endblock %}
	
	{% include "include_nav.html" %}

	{% block header %}{% endblock %}

	{% block breadboard %}{% endblock %}

	{% block section %}{% endblock %}

	{% block additional_section %}{% endblock %}

	{% include "include_footer.html" %}

    {% include "include_js.html" %}

    {% block custom_js %}{% endblock %}
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter42347829 = new Ya.Metrika({
                    id:42347829,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });
 
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
 
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript>
		<div><img src="https://mc.yandex.ru/watch/42347829" style="position:absolute; left:-9999px;" alt="" /></div>
	</noscript>
	<!-- /Yandex.Metrika counter -->
	 <script data-skip-moving="true">
        (function(w,d,u){
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn.bitrix24.ru/b6277191/crm/site_button/loader_1_7wv7ji.js');
     </script>
						 <!-- <script type="text/javascript" src="//cdn.callbackhunter.com/cbh.js?hunter_code=b8974049d289df044159c5524dea54d2" charset="UTF-8"></script>

						  <script type='text/javascript' charset='utf-8'>
						   (function(w, d, undefined) {
							w.CH_SERVER_NAME = '//chaser.ru',
							w.CH_HASH = '2d3bd60a2d899b49827efa1d74476809';
							var p = d.createElement('script'),
								s = d.getElementsByTagName('head')[0];
							p.type = 'text/javascript';
							p.charset = 'utf-8';
							p.async = 'true';
							p.src = (d.location.protocol == 'https:' ? 'https:' : 'http:') + w.CH_SERVER_NAME + '/widget/1.1/js/widget.js';
							s.appendChild(p);
						})(window, document);
						</script>-->

</body>
</html>
