{% load static %}
<!-- functions -->
<script src="{% static 'js/function.js' %}"></script>
<!-- include_plugins -->
<script src="{% static 'js/include_plugins.js' %}"></script>
<!-- owl carusel -->
<script src="{% static 'js/plugins/owl.carousel.1.3.js' %}"></script>
<!-- owl carusel v 2 -->
<script src="{% static 'js/plugins/owl.carousel.js' %}"></script>
<!-- jquery ui -->
<script src="https://yastatic.net/jquery-ui/1.11.2/jquery-ui.min.js"></script>
<script src="{% static 'js/plugins/jquery.cookie.js' %}"></script>
<script src="{% static 'js/plugins/jquery-ui.touch.min.js' %}"></script>
<script src="{% static 'js/plugins/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/plugins/jquery.maskedinput.js' %}"></script>
<script src="{% static 'js/jquery.ajax-forms.js' %}"></script>
<script src="https://cdn.jsdelivr.net/lodash/4.17.3/lodash.min.js"></script>
<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');

        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function get_query() {
    var data = $('#filter').serializeArray();
    var queryArray = []

    var names = _.map(_.uniqBy(data, 'name'), 'name')

    for (var i = 0; i < names.length; i++) {
        var f = _.map(_.filter(data, ['name', names[i]]), 'value');
        queryArray[i] = {'name': names[i],'value': _.join(f, ',')};
    }

    queryArray[queryArray.length] = {
        'name': 'page',
        'value': $('#page_num').val()
    }
    queryArray[queryArray.length] = {
        'name': 'order_by',
        'value': $('select#ordering').val()
    }

    var result = _.join(_.map(queryArray, function (obj) {
        return obj.name + "=" + obj.value
    }), '&');
        
    return result;
}

function filter(reset) {
    if (reset) $('#page_num').val(1);

    $.ajax({
        type: 'GET',
        url: window.location.pathname + 'ajax/',
        dataType: 'json',
        data: get_query(),
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        },
        complete: function(data, textStatus) {
            if (reset) {
                $('.ul-catalog').html(data.responseText);
            } else {
                $('.ul-catalog').html($('.ul-catalog').html() + data.responseText);
            }

            if (data.responseText.length == 0) {
                $('.show-more').css({'display': 'none'})
            }
      	},
        success: function (data, textStatus) {
        	console.log("success");
        }
    });
}

function next_page () {
    filter();

    $("li.show-more").remove();
}

$(function(){
    $("#filter :checkbox").click(function () {
        filter(true);
    });
    $("select#ordering").change(function() {
        filter(true);
    });
});

$(document).ready(function() {
    var feedback_form = $('form.feedback');

    feedback_form.ajaxForms({
        'url': '/feedback/ajax' + window.location.pathname,
        'onstart': function (event, form) {
            if (feedback_form.find('.accept_ppd').prop("checked") == false) {
                feedback_form.find(".accept_ppd").siblings("div").effect("pulsate", {}, 800);

                throw "You did not confirm the consent to the processing of personal data!";
            }

            feedback_form.find("[name='csrfmiddlewaretoken']").val(getCookie('csrftoken'));
            feedback_form.find("[name='urlhash']").val(window.location.hash);
            feedback_form.find("[name='useragent']").val(navigator.userAgent);
        },
        'onsuccess': function () {
            $('.modal-write').fadeOut(0);
            $('.modal-write .inline-block').removeClass('open-window');
            $('.modal-valid-write').show();
            $('.modal-valid-write .inline-block').addClass('open-window');

            $(feedback_form)[0].reset();
        }
    });

    $(".phone").mask("+7(999)999-99-99", {autoclear: false});
    $(".phone").focusout(function(){
        var v = $(this).val().trim(); //'+7(___)-___-__-__'
        var id = $(this).attr('id');

        if( (v=="" || v == '+7(___)___-__-__') ){
            $("label[for='"+id+"']").css("text-indent", "0px");
        }
    });

    $('.add-favirites a').click(function(event) {
        if (document.all) window.external.addFavorite('Link web sait', 'Name web sait');
    });

});
</script>

<script>
function add_favorite(a) { 
  title=document.title; 
  url=document.location; 
  try { 
    // Internet Explorer 
    window.external.AddFavorite(url, title); 
  } 
  catch (e) { 
    try { 
      // Mozilla 
      window.sidebar.addPanel(title, url, ""); 
    } 
    catch (e) { 
      // Opera 
      if (typeof(opera)=="object") { 
        a.rel="sidebar"; 
        a.title=title; 
        a.url=url; 
        return true; 
      } 
      else { 
        // Unknown 
        alert('Нажмите Ctrl-D чтобы добавить страницу в закладки'); 
      } 
    } 
  } 
  return false; 
}
</script>
<!-- script char google -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {packages:['corechart']});
    google.charts.setOnLoadCallback(drawStuff);

    function drawStuff() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'GDP');
        data.addRows({{ char_year_of_issue_chart|safe }});

        var options = {
            title: '',
            legend: 'none',
            bar: {groupWidth: '95%'},
            vAxis: { gridlines: { count: 0 } }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('number_format_chart'));
        chart.draw(data, options);

        // document.getElementById('format-select').onchange = function() {
        //     options['vAxis']['format'] = this.value;
        //     chart.draw(data, options);
        // };
    };
</script>
<!-- script char google -->