{% load static %}

<nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<div class="left-nav">
					<div class="top-nav">
						<div class="logo">
							<!--<a href="/"><img src="{% static 'svg/logo-main.svg' %}" alt=""></a>-->
							<a href="/"><img src="{% static 'img/logo-main.png' %}" alt=""></a>
						</div>
						<div>
							<div class="mobile-link">
								<ul class="link-nav">
									<li>
										<a href="/about/">О компании</a>
									</li>
									<li>
										<a href="{% url 'news-list' %}">Новости</a>
									</li>
									<li>
										<a href="/leasing-credit/">Лизинг/Кредит</a>
									</li>
									<li>
										<a href="/ransom/">Выкуп техники</a>
									</li>
									<li>
										<a href="{% url 'contacts' %}">Контакты</a>
									</li>
								</ul>
							</div>
							<!-- mobile content -->
							<div class="mobile-header">
								<div class="address-mobile">
                                    <div id="addr_1">
                                        <div class="item"><a href="{% url 'contacts' %}#mapmsk"><i class="marker"></i>{{ config.ADDRESS }}</a></div>
                                        <div class="item"><i class="phone"></i><noindex><a href="tel:+74951206001" class="tel-link" rel="nofollow">{{ config.PHONE_2 }}</a></noindex></div>
                                    </div>
                                    <div id="addr_2">
                                        <div class="item"><a href="{% url 'contacts' %}#mapmsk"><i class="marker"></i>{{ config.ADDRESS_SPB }}</a></div>
                                        <div class="item"><i class="phone"></i><noindex><a href="tel:+78124071523" class="tel-link" rel="nofollow">{{ config.PHONE_SPB }}</a></noindex></div>
                                    </div>
                                    <div id="addr_3">
                                        <div class="item"><i class="phone"></i><noindex><a href="tel:+88005004323" class="tel-link" rel="nofollow">{{ config.PHONE }}</a></noindex></div>
                                    </div>
                                    <div class="another_address">Другой адрес</div>
                                </div>

								<div class="mobile-menu-click">
									<div>
										<span></span>
										<span></span>
										<span></span>
									</div>
								</div>
							</div>
							<!-- mobile content -->
						</div>
					</div>
					<div class="categories-header">
						<ul>
							<li>
								<a href="{% url 'catlog-list' SPECIAL_MODEL_SLUG %}"><i class="machine-1"></i>Cпецтехника</a>
							</li>
							<li>
								<a href="{% url 'catlog-list' TRACTIVE_UNIT_MODEL_SLUG %}"><i class="machine-2"></i>Тягачи</a>
							</li>
							<li>
								<a href="{% url 'catlog-list' TRAILER_MODEL_SLUG %}"><i class="machine-3"></i>Полуприцепы</a>
							</li>
							<li>
								<a href="{% url 'catlog-list' TRUCK_MODEL_SLUG %}"><i class="machine-4"></i>Грузовики</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="right-nav">
					<div style="display: table-row;">
						<div class="item"><a href="{% url 'contacts' %}#mapmsk"><i class="marker"></i>{{ config.ADDRESS }}</a></div>
                        <div class="item lrg"><i class="phone"></i><noindex><a href="tel:+74951206001" rel="nofollow">{{ config.PHONE_2 }}<br>{{ config.PHONE_SPB }}</a></noindex></div>
					</div>
					<!-- <div style="display: table-row;"> -->
						
                        <!-- <div class="item lrg"><i class="phone"></i><noindex><a href="tel:+78124071523" rel="nofollow"></a></noindex></div> -->
					<!-- </div> -->
					<div class="pict">
                        <noindex><a href="tel:88005004323" class="tel-link" rel="nofollow">{{ config.PHONE }}</a></noindex>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>
