{% load static %}

<link href="{% static 'css/plugins/bootstrap.css' %}" rel="stylesheet">
<!-- less -->
<link href="{% static 'css/print.css' %}" media="print" rel="stylesheet">
<link href="{% static 'css/less.css' %}" rel="stylesheet">
<!-- less -->
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<!-- icone awesome -->
<link href="{% static 'css/plugins/_font-awesome.min.css' %}" rel="stylesheet">
<!-- icone awesome -->
<!-- owl carusel -->
<link href="{% static 'css/plugins/owl.carousel.1.3.css' %}" rel="stylesheet">
<!-- owl carusel v2 -->
<link href="{% static 'css/plugins/owl.carousel.css' %}" rel="stylesheet">

<link href="{% static 'css/plugins/jquery-ui.css' %}" rel="stylesheet">